Demo/Silverlight/Client/Service References/ServiceReference1/TestLinqService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LinqServiceQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinqServiceQuery" nillable="true" type="tns:LinqServiceQuery" />
  <xs:complexType name="LinqServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinqServiceResult" nillable="true" type="tns:LinqServiceResult" />
</xs:schema>