Demo/Silverlight/Client/Service References/ServiceReference1/TestLinqService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestLinqService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31020/TestLinqService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31020/TestLinqService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31020/TestLinqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILinqService_GetSqlProviderType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlProviderType" />
  </wsdl:message>
  <wsdl:message name="ILinqService_GetSqlProviderType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlProviderTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteScalar_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalar" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteScalar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScalarResponse" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteReader_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteReader" />
  </wsdl:message>
  <wsdl:message name="ILinqService_ExecuteReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteReaderResponse" />
  </wsdl:message>
  <wsdl:portType name="ILinqService">
    <wsdl:operation name="GetSqlProviderType">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinqService/GetSqlProviderType" message="tns:ILinqService_GetSqlProviderType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinqService/GetSqlProviderTypeResponse" message="tns:ILinqService_GetSqlProviderType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinqService/ExecuteNonQuery" message="tns:ILinqService_ExecuteNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinqService/ExecuteNonQueryResponse" message="tns:ILinqService_ExecuteNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinqService/ExecuteScalar" message="tns:ILinqService_ExecuteScalar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinqService/ExecuteScalarResponse" message="tns:ILinqService_ExecuteScalar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteReader">
      <wsdl:input wsaw:Action="http://tempuri.org/ILinqService/ExecuteReader" message="tns:ILinqService_ExecuteReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILinqService/ExecuteReaderResponse" message="tns:ILinqService_ExecuteReader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILinqService" type="tns:ILinqService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSqlProviderType">
      <soap:operation soapAction="http://tempuri.org/ILinqService/GetSqlProviderType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/ILinqService/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScalar">
      <soap:operation soapAction="http://tempuri.org/ILinqService/ExecuteScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteReader">
      <soap:operation soapAction="http://tempuri.org/ILinqService/ExecuteReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestLinqService">
    <wsdl:port name="BasicHttpBinding_ILinqService" binding="tns:BasicHttpBinding_ILinqService">
      <soap:address location="http://localhost:31020/TestLinqService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>