Demo/Silverlight/Client/Service References/ServiceReference1/TestLinqService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31020/TestLinqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" />
  <xs:element name="GetSqlProviderType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSqlProviderTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSqlProviderTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" minOccurs="0" name="query" nillable="true" type="q1:LinqServiceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteNonQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteNonQueryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" minOccurs="0" name="query" nillable="true" type="q2:LinqServiceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteScalarResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteReader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" minOccurs="0" name="query" nillable="true" type="q3:LinqServiceQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLToolkit.ServiceModel" minOccurs="0" name="ExecuteReaderResult" nillable="true" type="q4:LinqServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>